header nav ul,
header nav ul>li {
    display: inline-block
}

body {
    font-size: 14px
}

.nunito-regular {
    font-family: Roboto-Regular !important;
    font-weight: 400 !important
}

.nunito-light {
    font-family: Roboto-Light !important;
    font-weight: 300 !important
}

.nunito-bold {
    font-family: Roboto-Bold !important;
    font-weight: 700 !important
}

header nav ul>li,
header nav.menu-mobile ul .drop-nav-mobile li>a {
    font-family: Roboto-Regular !important
}

header {
    font-size: 1.14em
}

header .logo-menu {
    padding-top: 15px;
    padding-bottom: 10px;
    background: #fff;
    z-index: 50
}

header .contact_info ul {
    float: right;
    margin-bottom: 0;
    padding-top: 5px
}

header .contact_info li {
    font-size: 1em;
    display: inline-block
}

header .cart__icon-mobile,
header .contact_info li.cart__icon,
header .nav-top-mobile,
header nav.menu-mobile ul .drop-nav-mobile {
    display: none
}

header .contact_info li a:hover {
    color: #1a88ed !important;
    opacity: 1
}

header .contact_info li .ic-border {
    border: 1px solid #4d5872;
    border-radius: 4px;
    padding: 5px 10px !important
}

header .contact_info li .ic-border:hover {
    background-color: #4d4d4d;
    opacity: 1;
    color: #fff !important
}

header .contact_info li .ic-border-icon-only {
    border: 1px solid #4d5872;
    border-radius: 4px;
    padding: 5px 10px 3px
}

header i.niaga-icon.ic-margin-right {
    margin-right: 10px;
    vertical-align: -5%
}

header .contact_info li i.niaga-icon.ic-vertical-align {
    vertical-align: -10%
}

header .contact_info li>a:hover {
    text-decoration: none
}

header .cart__count-mobile,
header .contact_info .cart__count {
    background-color: #f56329;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 10px;
    color: #fff;
    position: absolute;
    right: 25px;
    top: 0;
    display: none
}

header hr {
    border-top: 1px solid #e7eef4;
    margin: 0 !important
}

header .nav-top {
    margin-top: 15px;
    margin-bottom: 5px
}

header nav {
    text-align: center
}

.highlight,
header nav.menu-mobile {
    text-align: left
}

header nav ul>li {
    margin: 0 15px
}

header nav li.dropdown>a {
    padding-right: 20px
}

header nav li>a {
    color: #4d4d4d
}

header nav li>a:hover {
    text-decoration: none;
    color: #1a88ed
}

header nav ul.drop-nav li {
    text-align: left;
    padding-left: 20px
}

header .nav-top-mobile {
    z-index: 40;
    position: fixed;
    background: #4d4d4d;
    width: 100%
}

header nav.menu-mobile ul {
    margin-bottom: 0
}

header nav.menu-mobile ul>li {
    width: 100%;
    border-bottom: 1px solid #5d5d5d;
    padding: 10px 0;
    margin: 0
}

header nav.menu-mobile li>a {
    color: #999;
    margin-left: 20px
}

header nav.menu-mobile li>a:hover {
    color: #fff
}

header nav.menu-mobile ul .drop-nav-mobile>li {
    width: 100%;
    border-bottom: 1px solid #5d5d5d;
    padding: 10px 0;
    margin: 0
}

.btn-blue-white-border-white {
    width: 180px;
    height: 50px;
    box-sizing: border-box;
    background: #298eea;
    color: #FFF;
    border: 2px solid #FFF;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding-top: 13px !important;
    padding-bottom: 13px !important
}

.disc-label-blue,
.disc-label-white {
    position: relative;
    display: inline-block;
    padding: 3px 4px;
    text-transform: uppercase;
    font-size: 10px;
    top: 6px;
    left: 2px;
    border-radius: 2px
}

.btn-blue-white-border-white:hover {
    background: #FFF;
    color: #298eea !important
}

.disc-label-blue {
    color: #FFF;
    background: #42A5F5
}

.disc-label-white {
    background: #FFF;
    color: #42A5F5
}

.disc-text {
    float: left;
    max-width: 150px;
    margin-top: 4px
}

.disc-label-blue::after,
.disc-label-white::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid
}

.disc-percent {
    margin-left: 4px;
    float: left;
    display: block;
    max-width: 50px;
    font-size: 16px;
    font-weight: bolder
}

.disc-label-blue::after {
    border-color: transparent #42A5F5 transparent transparent
}

.disc-label-white::after {
    border-color: transparent #FFF transparent transparent
}

@media only screen and (max-width:1200px) {
    .disc-percent {
        font-size: 12px
    }

    .disc-label-blue,
    .disc-label-white {
        font-size: 8px;
        padding: 2px 4px
    }
}

.wa-chat {
    z-index: 99;
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px
}

.wa-chat img {
    height: 63px;
    width: 63px
}

.text-narrow {
    width: 80% !important;
    margin: 0 auto !important
}

.section-border-bottom {
    border-bottom: 1px solid #d7d7d7
}

.no-margin-bottom {
    margin-bottom: 0 !important
}

.no-margin-top {
    margin-top: 0 !important
}

.no-padding {
    padding: 0 !important
}

.no-padding-bottom {
    padding-bottom: 0 !important
}

.youtube-container {
    position: relative;
    padding-bottom: 45%
}

.youtube-container embed,
.youtube-container iframe,
.youtube-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.banner__price-block,
.hero-banner {
    position: relative
}

.mb-1 {
    margin-bottom: 8px
}

.mb-2 {
    margin-bottom: 16px
}

.mb-3 {
    margin-bottom: 24px
}

.mb-4 {
    margin-bottom: 32px
}

.mb-5 {
    margin-bottom: 40px
}

.mb-10 {
    margin-bottom: 80px
}

.highlight {
    font-size: 13px;
    line-height: 17px;
    font-family: Roboto-Light;
    padding: 10px 0
}

.highlight--grey {
    background-color: #E7EEF4;
    color: #92A2B0
}

.hero-banner {
    padding: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.banner__title {
    font-size: 52px;
    color: #fff;
    text-align: center;
    margin-bottom: 25px
}

.banner__title--left {
    text-align: left;
    line-height: 57px;
    margin-bottom: 15px
}

.banner__subtitle {
    font-size: 38px;
    color: #fff;
    text-align: center
}

.banner__subtitle--left {
    text-align: left;
    line-height: 46px;
    margin-bottom: 15px
}

.banner__description {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
    color: #fff
}

.banner__description--left {
    text-align: left;
    line-height: 29px;
    max-width: 500px;
    margin-bottom: 30px
}

.banner__feature,
.content__title {
    text-align: center
}

.banner__description--narrow {
    max-width: 1024px;
    text-align: center;
    margin-right: auto;
    margin-left: auto
}

.banner__description p {
    line-height: 36px;
    margin: 0
}

.banner__price {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 30px
}

.banner__price--strike {
    text-decoration: line-through
}

.banner__price-currency {
    position: absolute;
    top: 10px
}

.banner__price-number {
    font-size: 48px;
    line-height: 58px;
    margin-left: 30px
}

.banner__cta {
    margin-bottom: 60px
}

.banner__cta--small {
    font-size: 16px;
    line-height: 19px;
    border-radius: 35px;
    padding: 10px 60px
}

.banner__cta--white {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff
}

.banner__cta--white:hover {
    background-color: #fff;
    color: #288eea;
    text-decoration: none
}

.banner__feature-list {
    font-size: 14px;
    line-height: 24px;
    color: #fff
}

.banner__feature-list li {
    display: inline-block;
    padding: 0 15px
}

.faq__answer,
.faq__question {
    padding-left: 50px;
    color: #4d5872
}

.banner__feature-list li::before {
    font-family: FontAwesome;
    content: '\f058';
    color: #fff;
    margin: 0 8px 0 -15px
}

.content {
    margin-top: 50px;
    padding-bottom: 50px;
    color: #4d5872
}

.content .container--70 {
    width: 70%
}

.content__title {
    font-size: 38px;
    color: #4d5872
}

.content__title--left {
    text-align: left
}

.content__subtitle {
    font-size: 24px;
    text-align: center;
    color: #4d5872
}

.content__subtitle-part {
    width: 50%;
    float: left
}

.content__subtitle--left {
    text-align: left
}

.content__description {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #4d5872;
    margin: 10px auto 20px
}

.content__description--left {
    text-align: left
}

.block-icon__cta,
.faq__cta,
.faq__title {
    text-align: center
}

.content__description a {
    color: #0366d6
}

.content__description--narrow {
    max-width: 760px
}

.content__video {
    width: 85%
}

.faq__title {
    font-size: 38px;
    color: #4d5872;
    margin-bottom: 30px
}

.faq__list {
    margin-bottom: 50px
}

.faq__item {
    margin-bottom: 20px
}

.faq__question {
    font-size: 24px;
    line-height: 30px;
    position: relative;
    margin-bottom: 15px
}

.faq__question:before {
    content: '';
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #2890ea;
    position: absolute;
    left: 0
}

.faq__answer {
    font-size: 16px;
    line-height: 24px
}

.block-icon__list {
    margin-top: 40px
}

.block-icon__title {
    font-size: 24px;
    color: #4d4d4d
}

.block-icon__desc {
    color: #4d4d4d;
    font-size: 16px;
    line-height: 24px
}

.block-icon__cta {
    margin-top: 50px
}

.table-blue__content {
    width: 100%;
    max-width: 600px;
    margin: 25px auto 20px
}

.table-blue__content thead {
    background: #009cff
}

.table-blue__content tr th {
    padding: 10px 30px;
    font-size: 16px;
    font-family: Roboto-Bold;
    color: #fff;
    text-align: center;
    border: 1px solid #009cff
}

.table-blue__content tbody tr:nth-child(even) {
    background-color: #f6f9fc
}

.table-blue__content tbody tr td {
    border: 1px solid #d7d7d7
}

.table-blue__content tr td {
    padding: 10px 30px;
    font-size: 14px;
    color: #4d5872;
    font-family: Roboto-Regular;
    text-align: left
}

.form-table__number-circle,
.table-blue__text {
    font-family: Roboto-Bold
}

.table-blue__text {
    font-size: 18px;
    color: #4d5872;
    text-align: center;
    margin-bottom: 40px
}

.table-blue__text:last-child {
    margin-bottom: 0
}

.form-table tr td:nth-child(2) {
    width: 100%
}

.form-table--centered {
    max-width: 500px;
    margin: 0 auto
}

.form-table__label {
    font-size: 24px;
    color: #4d5872
}

.form-table__label--small {
    font-size: 14px;
    color: #4d5872
}

.form-table__note {
    font-size: 12px;
    color: #0366d6;
    margin-top: 15px
}

.form-table__note a {
    color: #0366d6;
    text-decoration: none
}

.form-table__note a:hover {
    text-decoration: underline
}

.form-table__number-circle {
    font-size: 24px;
    color: #fff;
    text-align: center;
    border-radius: 100%;
    padding: 10px 20px;
    margin-right: 30px
}

.form-table__number-circle--green {
    background: #29c489
}

.form-table .fb-like {
    position: absolute;
    left: 155px;
    top: 22px
}

.form-table td {
    padding-bottom: 40px
}

.content__title--hostingTerbaik {
    line-height: 46px
}

.statistic__info,
.statistic__title {
    font-size: 14px;
    color: #92A2B0;
    line-height: 24px;
    font-family: Roboto-Light
}

.statistic__info--small {
    line-height: 16px
}

.statistic__number {
    font-size: 38px;
    line-height: 46px;
    color: #4D5872;
    font-family: Roboto-Bold
}

.statistic__number--small {
    font-size: 24px;
    line-height: 29px
}

#hosting-terbaik .performa__logo {
    margin-bottom: 40px
}

#hosting-terbaik .performa__logo img {
    width: 20%;
    float: left;
    padding-right: 16px;
    padding-bottom: 16px
}

#hosting-terbaik .niaga-icon {
    vertical-align: -11%
}

#hosting-terbaik .support .col-md-offset-1.col-md-10 {
    min-height: 435px
}

.payment-logo__list {
    width: 7.36%;
    text-align: center;
    display: inline-block
}

.w3_whatsapp_btn {
    background-image: url("https://www.niagahoster.co.id/assets/images/new_layout/icon-wa.png");
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block !important;
    position: relative;
    font-family: Arial, sans-serif;
    letter-spacing: .4px;
    cursor: pointer;
    font-weight: 400;
    text-transform: none;
    color: #fff;
    border-radius: 2px;
    background-color: #5cbe4a;
    background-repeat: no-repeat;
    line-height: 1.2;
    text-decoration: none;
    text-align: left;
}

.w3_whatsapp_btn_small {
    font-size: 12px;
    background-size: 16px;
    background-position: 5px 2px;
    padding: 3px 6px 3px 25px;
}

a.whatsapp {
    color: #fff;
}

.fb-like span {
    vertical-align: top !important;
    margin-top: -4px;
}

@media only screen and (min-width:981px) {
    .fb_iframe_widget {
        display: inline-block;
        margin-right: 25px;
        position: relative;
    }
}
