$primary: #0074d9;
$danger: #ff4136;

html, body {
    font-family: Roboto, sans;
}

a {
    color: #4d4d4d;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat-Bold, sans;
}

.border-bottom {
    border-color: rgb(44, 62, 80);
}
