.niagaweb-logo {
    max-width: 222px;
    height: auto;
}
.topbar i {
    margin-right: .5rem;
}
.topbar a > span {
    margin-right: 1.2rem;
}
.topbar .download {
    font-size: .8rem;
}
.card-header {
    background-color: transparent;
}
