.php-banner p {
    font-family: 'Montserrat';
    font-size: 1.75rem;
}

ul.check > li {
    list-style-image: url(/images/greencheck.png);
    line-height: 2.25rem;
}

.bigger-php-limit table {
    width: 400px;
}

.price .card {
    border-color: rgba(0,0,0,.05);
}

.hosting-features-included figure > img {
    max-width: 60px;
}
ul.no-list-style > li {
    list-style: none;
}
.hosting-features-included h5 {
    margin-bottom: .3rem;
}
.support-laravel figure {
    margin-bottom: 0;
}

.card-body {
    padding: 0 0 2rem;
}
.card.best-seller {
    border-color: $primary;
    .card-header, .card-title, .card-subtitle {
        background-color: $primary;
        color: #ffffff;
    }
    .card-text {
        background-color: #0066cc;
        color: #ffffff;
    }
}

.card-body > .card-text, .card-body > ul {
    padding: 1rem 1rem;
}
