html,
body {
  font-family: "Roboto", sans;
}

a {
  color: #4d4d4d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat-Bold, sans;
}

.border-bottom {
  border-color: #e7eef4;
}

.niagaweb-logo {
  max-width: 222px;
  height: auto;
}

.topbar i {
  margin-right: 0.5rem;
}

.topbar a > span {
  margin-right: 1.2rem;
}

.topbar .download {
  font-size: 0.8rem;
}

.php-banner p {
  font-family: "Montserrat";
  font-size: 1.75rem;
}

ul.check > li {
  list-style-image: url("/images/greencheck.png");
}

